<h1>RPS: ULTIMATE TRI-ATTACK 3 MILLION</h1>
<p>From the makers of "Harry Kane's Sexy Block Breaker" comes the new strategy game that everyone is talking about</p>
<p>Instructions: There aren't any, just click play and you'll win. OR type "rock", you'll win since rock is really strong</p>
<a href="/rps/rock/scissors" class="button">Play</a>
